<div class="flex-col h-full">
  <ol class="h-full flex flex-col">
    <% @links.each do |link| %>
      <li class="border rounded p-2 mb-6">
        <div class="flex flex-row">
          <div class='flex flex-col'>
            <p class="pr-2"><%= link.count %></p>
          </div>

          <div class='border-l pl-2 flex flex-col'>
            <% url = URI.parse(link.url) %>
            <% real_link = Link.find_by(url: link.url) %>
            <%= link_to("#{url.host}#{url.path}", link.url, { class: 'text-blue-700' }) %>
            <div class="flex flex-row justify-between">
              <% real_link.tags.each do |tag| %>
                <a class="pl-4 text-blue-400" href=<%= "https://bsky.app/hashtag/#{tag.text}" %>>#<%= tag.text %></a>
              <% end %>
            </div>
            <ul>
              <% real_link.comments.each do |comment| %>
                <% next if link.url.include?(comment.text) %>
                <p class="font-thin text-xs">---</p>
                <li class="font-light text-xs"><p><%= comment.text %></p></li>
              <% end %>
            </ul>
          </div>
        </div>
      </li>
    <% end %>
  </ol>
</div>
